    <div class="mb-4">
      <p class="text-xs">Monday 1st August 2023</p>
    </div>
<div class="space-y-16">
  <section class="grid lg:grid-cols-6 gap-4">
    <div class="overflow-hidden rounded-lg bg-gray-400 w-full h-[80vh] lg:h-[480px] lg:col-span-4 relative">
      <div class="absolute bottom-6 left-6 z-10">
        <h2 class="text-xl font-bold">Card Title Goes Here</h2>
      </div>
    </div>
    <div class="overflow-hidden rounded-lg bg-gray-400 w-full aspect-square lg:col-span-2 relative">
      <div class="absolute bottom-6 left-6 z-10">
        <h2 class="text-xl font-bold">Card Title Goes Here</h2>
      </div>
    </div>
    <div class="overflow-hidden rounded-lg bg-gray-400 w-full aspect-square lg:col-span-2 relative">
      <div class="absolute bottom-6 left-6 z-10">
        <h2 class="text-xl font-bold">Card Title Goes Here</h2>
      </div>
    </div>
    <div class="overflow-hidden rounded-lg bg-gray-400 w-full h-64 aspect-square lg:col-span-2 relative">
      <div class="absolute bottom-6 left-6 z-10">
        <h2 class="text-xl font-bold">Card Title Goes Here</h2>
      </div>
    </div>
    <div class="overflow-hidden rounded-lg bg-gray-400 w-full h-64 aspect-square lg:col-span-2 relative">
      <div class="absolute bottom-6 left-6 z-10">
        <h2 class="text-xl font-bold">Card Title Goes Here</h2>
      </div>
    </div>
  </section>
  <img src="https://antiguanewsroom.com/wp-content/uploads/2022/03/15_PERCENT_SPA_ANT_3_SPA-720X150-A.png" aria-label="advertisements" class="w-full h-48 object-center rounded bg-gray-100" />
  <section>
    <h3 class="scroll-m-20 text-4xl font-medium tracking-normal">Local News As Of Date</h3>
    <div class="grid lg:grid-cols-3 gap-4 md:grid-cols-2 mt-4">
      <a href="/#">
        <div class="overflow-hidden rounded-lg border hover:bg-blue-50/40 active:border-gray-400">
          <div class="flex flex-col">
            <div class="w-full aspect-square h-64 bg-gray-100 border">&nbsp;</div>
            <div class="px-4 py-5 sm:p-6 max-w-[64ch]">
              <span class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2">Announcement</span>
              <h2 class="text-xl font-medium line-clamp-2 text-gray-950 my-3">Government Commits to Home for Girls as Team Antigua Island Girls Make Record-Breaking Return</h2>
              <p class="text-gray-950/50 line-clamp-2">Team Antigua Island Girls’ Christal Clashing, Kevinia Francis and Samara Emmanuel celebrate their accomplishment having arrived in Hawaii after forty-one days at sea for the Pacific Challenge. (Photo courtesy: World’s Toughest Row) </p>
              <hr class="my-3" />
              <p class="text-gray-950/50 text-xs">August 1, 2023</p>
            </div>
          </div>
        </div>
      </a>
      <a href="/#">
        <div class="overflow-hidden rounded-lg border hover:bg-blue-50/40 active:border-gray-400">
          <div class="flex flex-col">
            <div class="w-full aspect-square h-64 bg-gray-100 border">&nbsp;</div>
            <div class="px-4 py-5 sm:p-6 max-w-[64ch]">
              <span class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2">Announcement</span>
              <h2 class="text-xl font-medium line-clamp-2 text-gray-950 my-3">Government Commits to Home for Girls as Team Antigua Island Girls Make Record-Breaking Return</h2>
              <p class="text-gray-950/50 line-clamp-2">Team Antigua Island Girls’ Christal Clashing, Kevinia Francis and Samara Emmanuel celebrate their accomplishment having arrived in Hawaii after forty-one days at sea for the Pacific Challenge. (Photo courtesy: World’s Toughest Row) </p>
              <hr class="my-3" />
              <p class="text-gray-950/50 text-xs">August 1, 2023</p>
            </div>
          </div>
        </div>
      </a>
      <a href="/#">
        <div class="overflow-hidden rounded-lg border hover:bg-blue-50/40 active:border-gray-400">
          <div class="flex flex-col">
            <div class="w-full aspect-square h-64 bg-gray-100 border">&nbsp;</div>
            <div class="px-4 py-5 sm:p-6 max-w-[64ch]">
              <span class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2">Announcement</span>
              <h2 class="text-xl font-medium line-clamp-2 text-gray-950 my-3">Government Commits to Home for Girls as Team Antigua Island Girls Make Record-Breaking Return</h2>
              <p class="text-gray-950/50 line-clamp-2">Team Antigua Island Girls’ Christal Clashing, Kevinia Francis and Samara Emmanuel celebrate their accomplishment having arrived in Hawaii after forty-one days at sea for the Pacific Challenge. (Photo courtesy: World’s Toughest Row) </p>
              <hr class="my-3" />
              <p class="text-gray-950/50 text-xs">August 1, 2023</p>
            </div>
          </div>
        </div>
      </a>
      <a href="/#">
        <div class="overflow-hidden rounded-lg border hover:bg-blue-50/40 active:border-gray-400">
          <div class="flex flex-col">
            <div class="w-full aspect-square h-64 bg-gray-100 border">&nbsp;</div>
            <div class="px-4 py-5 sm:p-6 max-w-[64ch]">
              <span class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2">Announcement</span>
              <h2 class="text-xl font-medium line-clamp-2 text-gray-950 my-3">Government Commits to Home for Girls as Team Antigua Island Girls Make Record-Breaking Return</h2>
              <p class="text-gray-950/50 line-clamp-2">Team Antigua Island Girls’ Christal Clashing, Kevinia Francis and Samara Emmanuel celebrate their accomplishment having arrived in Hawaii after forty-one days at sea for the Pacific Challenge. (Photo courtesy: World’s Toughest Row) </p>
              <hr class="my-3" />
              <p class="text-gray-950/50 text-xs">August 1, 2023</p>
            </div>
          </div>
        </div>
      </a>
      <a href="/#">
        <div class="overflow-hidden rounded-lg border hover:bg-blue-50/40 active:border-gray-400">
          <div class="flex flex-col">
            <div class="w-full aspect-square h-64 bg-gray-100 border">&nbsp;</div>
            <div class="px-4 py-5 sm:p-6 max-w-[64ch]">
              <span class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2">Announcement</span>
              <h2 class="text-xl font-medium line-clamp-2 text-gray-950 my-3">Government Commits to Home for Girls as Team Antigua Island Girls Make Record-Breaking Return</h2>
              <p class="text-gray-950/50 line-clamp-2">Team Antigua Island Girls’ Christal Clashing, Kevinia Francis and Samara Emmanuel celebrate their accomplishment having arrived in Hawaii after forty-one days at sea for the Pacific Challenge. (Photo courtesy: World’s Toughest Row) </p>
              <hr class="my-3" />
              <p class="text-gray-950/50 text-xs">August 1, 2023</p>
            </div>
          </div>
        </div>
      </a>
      <a href="/#">
        <div class="overflow-hidden rounded-lg border hover:bg-blue-50/40 active:border-gray-400">
          <div class="flex flex-col">
            <div class="w-full aspect-square h-64 bg-gray-100 border">&nbsp;</div>
            <div class="px-4 py-5 sm:p-6 max-w-[64ch]">
              <span class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2">Announcement</span>
              <h2 class="text-xl font-medium line-clamp-2 text-gray-950 my-3">Government Commits to Home for Girls as Team Antigua Island Girls Make Record-Breaking Return</h2>
              <p class="text-gray-950/50 line-clamp-2">Team Antigua Island Girls’ Christal Clashing, Kevinia Francis and Samara Emmanuel celebrate their accomplishment having arrived in Hawaii after forty-one days at sea for the Pacific Challenge. (Photo courtesy: World’s Toughest Row) </p>
              <hr class="my-3" />
              <p class="text-gray-950/50 text-xs">August 1, 2023</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>
    <img src="https://antiguanewsroom.com/wp-content/uploads/2023/06/Current-User-10-Off-Salad-660W-x-255H.jpg" aria-label="advertisements" class="w-full h-86 object-center rounded bg-gray-100" />
</div>
