<div class="lg:p-16">
    <h1 class="scroll-m-20 text-neutral-900 text-4xl font-extrabold tracking-tight lg:text-5xl">Reach Your Audience Today!</h1>
    <p class="text-xl text-neutral-600 leading-7 mt-2 mb-8">Are you looking to promote your business or spread the word about your services? Look no further! Advertise with Antigua Newsroom and connect with a vast audience across the nation.</p>
    <div>
        <h2>ADVERTISING WITH US IS EASY AND AFFORDABLE</h2>
        <ul>
            <li></li>
        </ul>
    </div>
</div>